node_modules/
build/
dist/
npm-debug.log*
yarn-error.log*
.vscode/

# Capacitor / Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
.gradle/
*.iml

# Firmas y llaves (¡no subir!)
*.jks
*.keystore
keystore.properties

# SO
.DS_Store
Thumbs.db